body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: 1.7em;
	color: $base-font-color;
}

a {
	color: $primary-color;
}

ul, li {
	list-style: none;
}

input, textarea, button {
	@include border-radius(0px);
}

img.device {
	width: 100%;
}

img.device-small {
	width: 70%;
	margin-bottom: -40px;
}


.navbar-inverse .navbar-toggle .icon-bar {
	background: black;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: $primary-color;
}


.col-md-6 h4 {
	text-align: center;
	color: $primary-color;
}

.col-md-6 ul li {
	text-align: center;
}

.list-comments li img{
	margin-right: 10px;	
}